/**
 * Site header
 */

header {
  background-color: $secondary-color;
  a {
    letter-spacing: 2px;
  }
  nav {
    text-transform: uppercase;
    border: 2px solid $brand-color;
  }
}

.site-header {
  border-top: 2px solid $brand-color;
  border-bottom: 2px solid $brand-color;
  min-height: $spacing-unit * 3;
  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  margin-top: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
  padding-right: $spacing-unit / 2;
  float: left;
}

.site-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $text-color !important;
}

.site-nav {
  float: right;
  margin-top: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
  padding-right: $spacing-unit / 2;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }
    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;
      padding-right: $spacing-unit;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 2px solid $brand-color;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
  color: $grey-color-dark;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
  p {
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
  p {
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

/*
 * Page header
 */

 .page-header {
  margin-bottom: $spacing-unit;
  padding: $spacing-unit / 2;
  text-align: center;
  background: none;
  text-transform: uppercase;
 }

 .page-header h1 {
  color: $brand-color;
  font-size: $base-font-size * 2;
  letter-spacing: 1px;
  position: relative; 
  padding-bottom: $spacing-unit / 2;
}

.page-header h1::after {
  display: block;
  background: $brand-color;
   content: '';
  width: 100%;
  margin: auto;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.5);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.post-list {
  margin-left: 0;
  list-style: none;


  > li {
    margin-bottom: $spacing-unit;
  }
  h3 a {
    color: $brand-color;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $text-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */

 .post-wrapper {
   text-align: center;
 }

.post-header {
  margin-bottom: $spacing-unit;
  border: 1px dotted $brand-color;
  padding: $spacing-unit / 2;
  border-radius: $border-unit;
  text-align: center;
  background: none;
  text-transform: uppercase;

}

.post-header h1 {
  color: $brand-color;
  position: relative; 
  letter-spacing: 1px;
  padding-bottom: $spacing-unit / 2;
}

.post-header h1::after {
  display: block;
  background: $brand-color;
   content: '';
  width: 100%;
  margin: auto;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
}

/*
Post font size
*/

.post-title {
  @include relative-font-size(2);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(1.75);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
